<% include partials/header %>
<h1>This is from hells</h1>
<% hells.forEach((hell) => { %>
<div>
  <h4><%= hell.name %></h4>
  <img src="<%= hell.image %>" />
</div>
<% }) %> <% include partials/footer %>
